@CHARSET "UTF-8";
	
#container #menuList {
	width: 780px; height: 480px;
	margin: 0 auto;
	}
	
#container #menuList .menuIcon {
	width: 230px; height: 200px; background-color: white;
	margin: 0 auto; margin: 10px;
	float: left; text-align: center;
	border: 1px solid black;
	}
	
