<div class="container">
	<div class="header"></div>
	<div class="content">
		<ol class="breadcrumb">
		  <li><a href="#1">Home</a></li>
		  <li class="active">다이어리</li>
		</ol>
		<hr>		
		<div class="row">
		    <div class="col-md-10"></div>
		    <div class="col-md-2" style="text-align: right">
				전체 <span id="count"></span>개
		    </div>
		</div>	
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>파일첨부</th>
					<th>날씨</th>
					<th>등록일</th>
				</tr>
				</thead>
				<tbody id="pageTable">
				</tbody>
			</table>
		</div>
		
		<nav>
			<ul class="pagination">
			</ul>
		</nav>		
	</div>
		<a href="javascript:write();">글쓰기</a>		
		<a href="javascript:mod();">글수정</a>		
		<a href="javascript:list();">목록</a>		
		
</div>


