<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<div></div>
	<table border='1'  width='70%' height='70%' bordercolor = red> 
		<tr><td> 
			<table border='1' width='70%' height='70%' bordercolor = green>
			 	<tr><td> 
			 		<table border='1'  width='70%' height='70%' bordercolor = yellow>
	 		 			<tr><td> 
	 		 				<table border='1'  width='70%' height='70%' bordercolor = blue> 
	  
	   						</table> 
	   			</td></tr> 
	   		</table> 
	   	</table> 
	   </td></tr>
	 </table> 
</body>
</html>