@CHARSET "UTF-8";

.side-scroll {
	margin-top: 30px;
	padding: 3px;
	position: relative !important;
    overflow-y: scroll !important;
    height: 600px !important;
}

.sList__item {
	border-radius: 10px;
	margin: 2px;
	padding: 5px;
	
}

.sList__info { 
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
} 

.schedule-list__page { 
border-top: 2px solid #ddd; 
clear: both; 
counter-increment: page; 
padding-bottom: 3em; 
position: relative; 
} 

.schedule-list__page:before { 
background-color: #ddd; 
display: inline-block; 
content: " ☆ "; 
color: #888; 
padding: .25em .5em; 
position: absolute; 
left: calc(50% - .75em); 
top: -.75em; 
vertical-align: middle; 
z-index: 1; 
} 

.schedule-list__pagination { 
	background-color: #ff8000; 
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.25); 
	display: block; 
	color: black;
/* 	bottom: 0; left: 0;  */
/* 	list-style-type: none;  */
/* 	margin: 0;  */
/* 	padding: .5em;  */
/* 	position: fixed;  */
/* 	right: 0;  */
	text-align: center; 
	transform: translateY(0); 
	transition: transform 0.2s; 
	z-index: 2; 
	} 
.schedule-list__pagination--inactive { transform: translateY(100%); } 


.sList__item--orange {
	border: 2px solid #DE660F;
	border-radius: 10px;
	margin: 2px;
	padding: 5px;
}

.sList__item--orange:hover {
	border-top-color: #DE660F;
	background: #facfaf;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.sList__item--orange p.info-sch__date { 
	border: 1px solid #DE660F;
	border-radius: 10px;
	background: #ffff80; 
	width: auto;
	} 

.sList__item--orange:hover .info-sch__title, .sList__item--orange:hover .info-place { color: #DE660F; } 


.sList__item--green {
	border: 2px solid #2EA83B;
	border-top-color: #2EA83B;
	border-radius: 10px;
	margin: 2px;
	padding: 5px;
}

.sList__item--green:hover {
	border-top-color: #2EA83B;
	background: #aae8b0;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.sList__info .start{ 
	
} 

.sList__info .end{ 
	
} 

.sList__info .title{ 
	
} 

.sList__info .achieve{ 
	
} 

.sList__info .category{ 

} 

.sList__info .importance{ 

} 