@CHARSET "UTF-8";

* { box-sizing: border-box; } 
ul { margin: 0; padding: 0; list-style-type: none; } 
body { display: flex; align-items: center; justify-content: center; height: 100vh; line-height: 1.5; font-family: 'Montserrat'; background: #f2f2f2; color: #404040; overflow: hidden; } 
.view { position: relative; height: 640px; width: 384px; background: #fcfcfc; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); overflow-y: scroll; } 

.sList__list { padding: 0.75rem; } 
.sList__item { margin: 0 0 0.75rem; padding: 2.25rem 1.5rem; border-top: 4px solid #404040; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); background: white; cursor: pointer; transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1); border-radius: 10px; } 

.sList__item--orange { 
	border-top-color: #DE660F; 
	border-radius: 10px;
	margin: 2px;
	padding: 5px;
	} 
.sList__item--orange p.info-sch__date { background: #DE660F; text-shadow: 1px 1px rgba(150, 69, 10, 0.7) , 2px 2px rgba(156, 72, 10, 0.715) , 3px 3px rgba(162, 75, 11, 0.73) , 4px 4px rgba(168, 77, 11, 0.745) , 5px 5px rgba(173, 79, 12, 0.76) , 6px 6px rgba(178, 82, 12, 0.775) , 7px 7px rgba(182, 84, 12, 0.79) , 8px 8px rgba(186, 86, 13, 0.805) , 9px 9px rgba(190, 87, 13, 0.82) , 10px 10px rgba(193, 89, 13, 0.835) , 11px 11px rgba(197, 90, 13, 0.85) , 12px 12px rgba(200, 92, 13, 0.865) , 13px 13px rgba(203, 93, 14, 0.88) , 14px 14px rgba(206, 95, 14, 0.895) , 15px 15px rgba(209, 96, 14, 0.91) , 16px 16px rgba(211, 97, 14, 0.925) , 17px 17px rgba(213, 98, 14, 0.94) , 18px 18px rgba(216, 99, 15, 0.955) , 19px 19px rgba(218, 100, 15, 0.97) , 20px 20px rgba(220, 101, 15, 0.985); } 
.sList__item--orange:hover .info-sch__title, .sList__item--orange:hover .info-place { color: #DE660F; } 

.sList__item--green { 
	border-top-color: #2EA83B;
	border-radius: 10px;
	margin: 2px;
	padding: 5px; 
	} 
.sList__item--green p.info-sch__date { background: #2EA83B; text-shadow: 1px 1px rgba(30, 108, 38, 0.7) , 2px 2px rgba(31, 113, 40, 0.715) , 3px 3px rgba(33, 118, 42, 0.73) , 4px 4px rgba(34, 123, 43, 0.745) , 5px 5px rgba(35, 127, 45, 0.76) , 6px 6px rgba(36, 131, 46, 0.775) , 7px 7px rgba(37, 135, 47, 0.79) , 8px 8px rgba(38, 138, 49, 0.805) , 9px 9px rgba(39, 141, 50, 0.82) , 10px 10px rgba(40, 144, 51, 0.835) , 11px 11px rgba(40, 147, 52, 0.85) , 12px 12px rgba(41, 150, 53, 0.865) , 13px 13px rgba(42, 152, 53, 0.88) , 14px 14px rgba(42, 155, 54, 0.895) , 15px 15px rgba(43, 157, 55, 0.91) , 16px 16px rgba(44, 159, 56, 0.925) , 17px 17px rgba(44, 161, 57, 0.94) , 18px 18px rgba(45, 163, 57, 0.955) , 19px 19px rgba(45, 165, 58, 0.97) , 20px 20px rgba(46, 166, 58, 0.985); } 
.sList__item--green:hover .info-sch__title, .sList__item--green:hover .info-place { color: #2EA83B; } 

.sList__item--yellow { 
	border-top-color: #BDB235; 
	border-radius: 10px;
	margin: 2px;
	padding: 5px;
	} 
.sList__item--yellow p.info-sch__date { background: #BDB235; text-shadow: 1px 1px rgba(129, 122, 36, 0.7) , 2px 2px rgba(134, 127, 38, 0.715) , 3px 3px rgba(139, 132, 39, 0.73) , 4px 4px rgba(144, 136, 40, 0.745) , 5px 5px rgba(148, 140, 41, 0.76) , 6px 6px rgba(152, 143, 43, 0.775) , 7px 7px rgba(156, 147, 44, 0.79) , 8px 8px rgba(159, 150, 45, 0.805) , 9px 9px rgba(162, 153, 45, 0.82) , 10px 10px rgba(165, 156, 46, 0.835) , 11px 11px rgba(168, 158, 47, 0.85) , 12px 12px rgba(171, 161, 48, 0.865) , 13px 13px rgba(173, 163, 49, 0.88) , 14px 14px rgba(176, 165, 49, 0.895) , 15px 15px rgba(178, 168, 50, 0.91) , 16px 16px rgba(180, 169, 50, 0.925) , 17px 17px rgba(182, 171, 51, 0.94) , 18px 18px rgba(184, 173, 52, 0.955) , 19px 19px rgba(186, 175, 52, 0.97) , 20px 20px rgba(187, 176, 53, 0.985); } 
.sList__item--yellow:hover .info-sch__title, .sList__item--yellow:hover .info-place { color: #BDB235; } 

.sList__item:hover { background: #444; } 
.sList__item:hover .info-sch__date { transform: scale(1.1); } 

.sList__info { display: flex; align-items: center; justify-content: space-between; } 
.sList__info .info-sch { display: flex; align-items: center; } 
.sList__info .info-sch__date { width: 60px; height: 60px; line-height: 36px; padding: 0.75rem; margin: 0 0.75rem 0 0; text-align: center; background: silver; border-radius: 50%; font-size: 36px; color: white; overflow: hidden; transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1); } 
.sList__info .info-sch__title { line-height: 1.1; font-size: 20px; margin: 0; } 
.sList__info .info-sch__title small { font-size: 14px; } 
.sList__info .info-place { margin: 0; font-size: 24px; } 


