* {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  box-sizing: border-box;
}
#typeAContainer {
  background: #ff7373;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  -webkit-perspective: 300px;
          perspective: 300px;
}
#typeAContainer > .containerA {
  background: transparent;
  border-radius: 4px;
  width: 272px;
  height: 100px;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#typeAContainer > .containerA .front {
  background: #fff;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  z-index: 2;
}
#typeAContainer > .containerA .back {
  background: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
#typeAContainer > .containerA .front,
#typeAContainer > .containerA .back {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 272px;
  height: 100px;
  border-radius: 4px;
}
#typeAContainer > .containerA .front .decrement,
#typeAContainer > .containerA .back .decrement,
#typeAContainer > .containerA .front .increment,
#typeAContainer > .containerA .back .increment {
  width: 64px;
  height: 100px;
  opacity: 0.2;
}
#typeAContainer > .containerA .front .decrement:hover,
#typeAContainer > .containerA .back .decrement:hover,
#typeAContainer > .containerA .front .increment:hover,
#typeAContainer > .containerA .back .increment:hover {
  cursor: pointer;
}
#typeAContainer > .containerA .front .decrement,
#typeAContainer > .containerA .back .decrement {
  background: url("http://frolovoleg.ru/images/decrement.svg") no-repeat center;
}
#typeAContainer > .containerA .front .increment,
#typeAContainer > .containerA .back .increment {
  background: url("http://frolovoleg.ru/images/increment.svg") no-repeat center;
}
#typeAContainer > .containerA .front .value_front,
#typeAContainer > .containerA .back .value_front,
#typeAContainer > .containerA .front .value_back,
#typeAContainer > .containerA .back .value_back {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 32px;
  line-height: 100px;
}