<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Schedule</title>
<link rel="import" href="../common/baseinclude.html">
<link rel="stylesheet" type="text/css" href="../../css/schedule/schedule.css">
</head>
<body>
<div id="wrap">
	<div id="header">
	header
	</div>
	<div id="container">
		<div id="sideBar">
			<div id="dayList">
			dayList
				<ul>
					<li>datePicker here</li>
					<li>2017 / 03 / 24</li>
				</ul>
			</div>
			<div id="scheduleList">
			scheduleList
				<ul id="schedules">
					<li><a href="#"></a></li>
				</ul>
			</div>
		</div>

		<div id="scheduleDetail">
		scheduleDetail
			<div id="detailView">
			detailView
				<div id="prev">
				</div>
				
				<div id="schDetail">
				</div>
				
				<div id="next">
				</div>
			</div>
			<button>⊙</button>
		</div>

	</div>
	<div id="footer">
	footer
	</div>
</div>

<script src="../../js/schedule/schedule.js"></script>
</body>
</html>