<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/b90ft4/web/bootstrap/KAdmin-Dark/script/jquery.flot.js"></script>
<script src="/b90ft4/web/js/workout/jquery.jqplot.js"></script>
<script src="/b90ft4/web/js/workout/jqplot.barRenderer.js"></script>
<script src="/b90ft4/web/js/workout/jqplot.categoryAxisRenderer.js"></script>
<script src="/b90ft4/web/js/workout/jqplot.pointLabels.js"></script>
</head>
<body>

<div id="calChart" style="width: 50%; height:300px;"></div>
		
<script type="text/javascript">
var spendBar 	= [0,0,0,0,0,0,0];
var leftBar 	= [0,0,0,0,0,0,0];
var overBar 	= [0,0,0,0,0,0,0];
var totalCal    = [0,0,0,0,0,0,0];
var spendCal 	= [0,0,0,0,0,0,0];
var consumeCal 	= [0,0,0,0,0,0,0];
var overCal 	= [0,0,0,0,0,0,0];

$.ajaxSettings.traditional = true;
var userId = 'tester01';
var date  = new Date();
var myDate = new Date();
var dayOfMonth = myDate.getDate();
myDate.setDate(dayOfMonth - 1);
var today2 = $.datepicker.formatDate("yy-mm-dd",myDate);
var today = $.datepicker.formatDate("yy-mm-dd",date);

//console.log(myDate);
//console.log(today2);

var date1 = $.datepicker.formatDate("yy-mm-dd",date);
myDate.setDate(dayOfMonth - 1);
var date2 = $.datepicker.formatDate("yy-mm-dd",myDate);
myDate.setDate(dayOfMonth - 2);
var date3 = $.datepicker.formatDate("yy-mm-dd",myDate);
myDate.setDate(dayOfMonth - 3);
var date4 = $.datepicker.formatDate("yy-mm-dd",myDate);
myDate.setDate(dayOfMonth - 4);
var date5 = $.datepicker.formatDate("yy-mm-dd",myDate);
myDate.setDate(dayOfMonth - 5);
var date6 = $.datepicker.formatDate("yy-mm-dd",myDate);
myDate.setDate(dayOfMonth - 6);
var date7 = $.datepicker.formatDate("yy-mm-dd",myDate);

var myWeek = new Array();
myWeek[0] = $.datepicker.formatDate("yy-mm-dd",date);
for(var i = 1 ; i<7 ; i++){
	myDate.setDate(dayOfMonth - i);
	myWeek[i] = $.datepicker.formatDate("yy-mm-dd",myDate);
	console.log("myWeek:"+myWeek[i]);
}

console.log(date1);
console.log(date2);
console.log(date3);
console.log(date4);
console.log(date5);
console.log(date6);
console.log(date7);


var spendBar1,spendBar2,spendBar3,spendBar4,spendBar5,spendBar6,spendBar7;
var leftBar1,leftBar2,leftBar3,leftBar4,leftBar5,leftBar6,leftBar7,leftBar2,leftBar3;
var overBar1,overBar2,overBar3,overBar4,overBar5,overBar6,overBar7;
var spendCal1,spendCal2,spendCal3,spendCal4,spendCal5,spendCal6,spendCal7;
var consumeCal1,consumeCal2,consumeCal3,consumeCal4,consumeCal5,consumeCal6,consumeCal7;

var spendCal1 = 500; 
var consumeCal1 = 1000;	
var spendCal2 = 1000; 
var consumeCal2 = 1000;
var spendCal3 = 1500; 
var consumeCal3 = 1000;

var spendBar1 = spendCal1;
var leftBar1 = consumeCal1 - spendCal1;
var overBar1 = spendCal1 - consumeCal1;
if (consumeCal1 < spendCal1){
	spendBar1 = consumeCal1;
	leftBar1 = 0;
	
}

var spendBar2 = spendCal2;
var leftBar2 =  consumeCal2 - spendCal2;
var overBar2 = spendCal2 - consumeCal2;
if (consumeCal2 < spendCal2){
	spendBar2 = consumeCal2;
	leftBar2 = 0;
	
}

var spendBar3 = spendCal3;
var leftBar3 = consumeCal3 - spendCal3;
var overBar3 = spendCal3 - consumeCal3;
if (consumeCal3 < spendCal3){
	spendBar3 = consumeCal3;
	leftBar3 = 0;
	
}
/* 
var days = { "date1" : date1 ,"date2" : date2 ,"date3" : date3 ,"date4" : date4 ,"date5" : date5 ,"date6" : date6 ,"date7" : date7}; */
// var days = [ "date1" : date1 ,"date2" : date2 ,"date3" : date3 ,"date4" : date4 ,"date5" : date5 ,"date6" : date6 ,"date7" : date7 ];

//var days = data1+"&"+date2+"&"+date3+"&"+date4+"&"+date5+"&"+date6+"&"+date7;
function chartDayCall(){
	
	$.ajax({
		url:"/b90ft4/workout/selectWorkoutStatisticsListWeek.do",
		dataType:"json",
		data : {"userId" : userId}
		}).done(function(result){
		
				console.dir(result);
				console.log("ee");
 				myDate.setDate(dayOfMonth - 7);
 				 
			    for(var k in result) {
			    	
			    	var stDate = $.datepicker.parseDate( "yy-mm-dd", result[k].workoutDay );//ajax에서 받아온 k번째 날짜
	 			    var endDate = myDate;//7일전
	 			    var btMs = stDate.getTime() - endDate.getTime();//
	 			    var i = Math.floor(btMs / (1000*60*60*24));//
						
					/* 	if(result[k].intakeCal < result[k].spentCal){
						leftBar[i]  = result[k].intakeCal - result[k].spentCal;
						spendCal[i] = result[k].spentCal;
						}
						else if(result[k].intakeCal = result[k].spentCal){
						spendCal[i] = result[k].spentCal;
						}
						else if(result[k].intakeCal > result[k].spentCal){
						spendCal[i] = result[k].spentCal;
						overBar[i]  = result[k].spentCal - result[k].intakeCal;
						}
					*/
	 			   
					if(result[k].spentCal < result[k].intakeCal){
						spendBar[k] = result[k].spentCal;
						leftBar[k] = result[k].intakeCal - result[k].spentCal;
						totalCal[k] = Number(spendBar[k] + leftBar[k]);
					/* 	console.log(spendBar[k]);
						console.log(leftBar[k]);
						console.log(totalCal[k]); */
					}
					else{
						spendBar[k] = result[k].intakeCal;
						overBar[k] = result[k].spentCal - result[k].intakeCal;
						totalCal[k] = Number(spendBar[k] + overBar[k]);
						/* console.log(spendBar[k]);
						console.log(overBar[k]);
						console.log(totalCal[k]); */
					}
	 			  /* 
					consumeCal[i] = result[k].intakeCal;
					overBar[i] = spendCal[i] - consumeCal[i];
					if (consumeCal[i] < spendCal[i]){
						spendBar[i] = consumeCal[i];
						leftBar[i] = 0;
						overCal[i] = spendCal[i] - consumeCal[i];
					} */
			    	
//			    	console.log(stDate);
//			    	console.log(endDate);
			    }

			    setChart();
//				console.log(result[i].spentCal);
// 				spendCal.push(result[i].spentCal);
			 /*
			 for(var i=0 ; i<7 ; i++){
				if (myTempDate != result[i].workoutDay){
					spendCal[i] = 0;
	 				consumeCal[i] = 0;
	 				leftBar[i] = 0;
	 				overBar[i] = 0;
	 				if (consumeCal[i] < spendCal[i]){
	 					spendBar[i] = 0;
	 					leftBar[i] = 0;
	 					overCal[i] = 0;
	 				}
				}
				 
				else{
					spendCal[i] = result[i].spentCal;
						consumeCal[i] = result[i].intakeCal;
						leftBar[i] = consumeCal[i] - spendCal[i];
						overBar[i] = spendCal[i] - consumeCal[i];
						if (consumeCal[i] < spendCal[i]){
							spendBar[i] = consumeCal[i];
							leftBar[i] = 0;
							overCal[i] = spendCal[i] - consumeCal[i];
						}
				}
				
 			
			}
				*/
			
		
// 			setChart(); 
			
		});

}

function setChart(){
	var maxYaxis = Math.ceil(Math.max(totalCal[0],totalCal[1],totalCal[2],totalCal[3],totalCal[4],totalCal[5],totalCal[6]))+100;
	var s1 = spendBar;
	var s2 = leftBar;
	var s3 = overBar;
	var ticks = [date7,date6,date5,date4,date3,date2,date1];
	
	plot1 = $.jqplot('calChart', [s1,s2,s3], {
	    // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
	    animate: !$.jqplot.use_excanvas,
	    stackSeries: true,
	    seriesDefaults:{
	        renderer:$.jqplot.BarRenderer,
	        pointLabels: { show: true , stackedValue: true}
	    },
	    axes: {
	        xaxis: {
	        	min:200,
	            renderer: $.jqplot.CategoryAxisRenderer,
	            ticks: ticks
	        },
	        yaxis: {
	        	min:0,
	        	max:maxYaxis,
	        	markSize:50
	        }
	    },
	    highlighter: { show: false }
	});

}
$(document).ready(function() {
	chartDayCall();
});
	
</script>		




			          
</body>
</html>