<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <!-- <script>

    function load() {

		

        var video = document.getElementById('myVideo');

        if (navigator.webkitGetUserMedia) {

			navigator.webkitGetUserMedia({audio:true, video:true},

                function(stream) { video.src = webkitURL.createObjectURL(stream); },

                function(error) { alert('ERROR: ' + error.toString()); } );

        } else {

            alert('webkitGetUserMedia not supported');

        }

    }

    </script> -->

	</head>

    <body>
 <!--    <div>
		<button onclick="load()">영상</button>
		<div>
	        <video width="500px" height="500px" autoplay="autoplay" id="myVideo" />
		</div>
    </div> -->



<!-- <button id="btnCam">cam</button>
<video autoplay></video>
<img src="">
<canvas style="display:none;"></canvas>


<script type="text/javascript">
var $$ = function(sel){
	return document.querySelector(sel)
}


var video = document.querySelector('video');
var canvas = document.querySelector('canvas');
var ctx = canvas.getContext('2d');
var localMediaStream = null;

$$("#btnCam").addEventListener("click", function(){
	console.log(window.url)
	navigator.webkitGetUserMedia({video: true}, function(localMediaStream) {
  video.src = window.webkitURL.createObjectURL(localMediaStream);
  localMediaStream = stream;
}, onFailSoHard);
}, false);
function onFailSoHard(){
	
}
	
console.log("dd- "+navigator.mozBattery)

</script>
 -->

<script>
var constraints = { audio: true, video: { width: 1280, height: 720 } }; 

navigator.mediaDevices.getUserMedia(constraints)
.then(function(mediaStream) {
var video = document.querySelector('video');
  video.srcObject = mediaStream;
  video.onloadedmetadata = function(e) {
    video.play();
  };
})
.catch(function(err) { console.log(err.name + ": " + err.message); });
function zzz(){
	var video = document.querySelector('video');
alert("ss");
video.pause();
video.srcObject = null;
}
</script>
<button onclick="zzz()">정지</button>
<video width="500px" height="500px" autoplay="autoplay" id="myVideo" />
    </body>

</html>