<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link type='text/css' rel='stylesheet' href="/b90ft4/web/css/workout/workoutTypeA3.css" />
</head>
<body>
<div class="button__holder">
    <button class="plus">Start!</button>
</div>
<script type="text/javascript">

var nextSet = gvSetIndex+1;
var count, rotateY, setValueFunc, value, zero;
zero = 0;
rotateY = 180;
value = -1;
count = -1;
maxValue = gvTypeACount;
max = "/"+maxValue;
breakTimeVal = 10;

$(".plus").click(function(){
    $(this).addClass("btnShadow").delay(800).queue(function(n){
        $(this).removeClass("btnShadow");
        n();
    });
    
    count++;
    value++;
    
    if(count === maxValue){
    		if(gvIsLast){
    		
    		calIncDec();
  		  alert("마지막 세트입니다.");
  		  
    		}
    		else{
  		  alert(gvIntervalTime+"초 동안 휴식 후 "+nextSet+"세트를 시작합니다.");
  		
  		calIncDec();
  		  $("#setNo"+nextSet).trigger("click");
  		  
  		}

  	  value = -1;
  	  count = -1;
  	  return $(".plus").text("Start!");
    }
    return $(".plus").text(value + max);
});

</script>
</body>
</html>