<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link type='text/css' rel='stylesheet' href="/b90ft4/web/css/workout/workoutTypeA.css" />
</head>
<body> 
<div id='typeAContainer'>	
	<div class='container'>
		<div class='front'>
			<div></div>
			<div class='value_front'>Start!</div>
			<div></div>
		</div>
		<div class='back'>
			<div></div>
			<div class='value_back'>0</div>
			<div></div>
		</div>
	</div>
</div>

<script src="/b90ft4/web/js/common/jquery.min.js"></script>
<script>
var count, rotateY, setValueFunc, value, zero;
zero = 0;
rotateY = 180;
value = -1;
count = -1;
maxValue = gvTypeACount;
max = "/"+maxValue;
breakTimeVal = 10;



$(".front").on("mousedown", function() {
	console.log(gvWorkoutSetNo+" "+gvIsLast+"setno+islast");
	count++;
	$("#typeAContainer").css({"background": "#0080ff"});
	$(".container").css({
    "transform": "rotateY(" + (zero = zero + rotateY) + "deg)"
});
value++;
  
  if(count === maxValue){
	  $("#typeAContainer").css({"background": "#ff7373"});
  		if(gvIsLast){
		  alert("마지막 세트입니다.");
  		}
  		else{
		  alert(gvIntervalTime+"초 동안 쉽니다.");
		}
      $(".container").css({
          "transform": "rotateY(" + (zero = zero + rotateY) + "deg)"
        });
	  value = -1;
	  count = -1;
	  return $(".value_front").text("Start!");
  }
  
  return $(".value_back").text(value + max);
});

$(".back").on("mousedown", function() {
	console.log("backㅋㅋ");
	count++;
	$("#typeAContainer").css({"background": "#0080ff"});
	$(".container").css({
		"transform": "rotateY(" + (zero = zero + rotateY) + "deg)"
	});
	value++;
    if(count === maxValue){
    	$("#typeAContainer").css({"background": "#ff7373"});
    	if(gvIsLast){
  		  alert("마지막 세트입니다.");
    	}
    	else{
  		  alert(gvIntervalTime+"초 동안 쉽니다.");
  		}
    	
    	
        $(".container").css({
            "transform": "rotateY(" + (zero = zero + rotateY) + "deg)"
          });
  	  value = -1;
  	  count = -1;
  	  return $(".value_back").text("Start!");
    }
	return $(".value_front").text(value + max);
});
</script>
</body>
</html>