<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Main Menu</title>
<link rel="import" href="../common/baseinclude.html">
<link rel="stylesheet" type="text/css" href="../../css/main/main.css">

</head>
<body>

	<div id="wrap">
		
		<div id="container">
			
			<div id="menuList">
			
			<div id="menu01" class="menuIcon">1번메뉴</div>
			<div id="menu02" class="menuIcon">2번메뉴</div>
			<div id="menu03" class="menuIcon">3번메뉴</div>
			<div id="menu04" class="menuIcon">4번메뉴</div>
			<div id="menu05" class="menuIcon">5번메뉴</div>
			<div id="menu06" class="menuIcon">6번메뉴</div>
			
			</div>
			
		</div>
	
	</div>
</body>
</html>